<h2><span class="player"><%= @player1.name %></span> attacked <span class="player"><%= @player2.name %></span>!</h2>

<div class="battlefield">
  <div class="opponent">
    <strong>Opponent</strong>: <%= @player2.name %>
    <div class="health-bar">
      <div class="health-left" style="width: <%= @player2.hit_points %>%"></div>
    </div>
    <span class="opponent-hitpoints"><%= @player2.hit_points %></span>HP
    <% if @player2.hit_points == 0 %><br>HAHA LOSER<% end %>
  </div>

  <div class="attacker">
    <strong>Attacker</strong>: <%= @player1.name %>
    <div class="health-bar">
      <div class="health-left" style="width: <%= @player1.hit_points %>%"></div>
    </div>
    <span class="attacker-hitpoints"><%= @player1.hit_points %></span>HP
  </div>
</div>

<form action="/attack" method="post">
  <input type="submit" value="Switch turns">
</form>
