<%= @player1.name %> attacked <%= @player2.name %>!

<div class="opponent">
  <%= @player2.name %>: <%= @player2.hit_points %>HP
</div>

<div class="attacker">
  <%= @player1.name %>: <%= @player1.hit_points %>HP
</div>

<form action="/attack" method="post">
  <input type="submit" value="Switch turns">
</form>
